NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://reservas:reservas_dev@localhost:5432/reservas?schema=public
POSTGRES_DB=reservas
POSTGRES_USER=reservas
POSTGRES_PASSWORD=reservas_dev
POSTGRES_PORT=5432
M5_URL=http://localhost:3001
M7_URL=http://localhost:3002
RESERVATION_JOB_INTERVAL=*/30 * * * * *
M5_OFERTAS_ESCENARIO=ACEPTAN
