# Configuración del Microservicio Módulo 5 (Solicitud y Despacho - AE2)
PORT=3005
NODE_ENV=development

# Backing Services (PostgreSQL, Redis y RabbitMQ)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dispatch_db?schema=public
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
DISABLE_REDIS=false
RABBITMQ_URL=amqp://guest:guest@localhost:5672
DISABLE_RABBITMQ=false

# Servicios externos / Otros módulos
M1_AUTH_URL=http://localhost:3001
M4_SERVICE_URL=http://localhost:3004/api/v1
M6_SERVICE_URL=http://localhost:3000
M7_SERVICE_URL=http://localhost:3007
